*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #F3F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    width: 320px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #C2CDDC;
    /* text-align: center; */
}

h2{
    font-weight: 500;
    margin-bottom: 40px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 15px;
}

.tempinput{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0005;outline: none;
}

label{
    text-align: start;
    font-size: 14px;
    font-weight: 700;
    color: #0005;
}

#temp{
    padding: 0 0 0 20px;
    font-weight: 500;
}

.unit{
    padding: 0 15px;
}

#convert{
    background-color: #5596F6;
    border: none;
    color: #fff;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

#result{
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 35px;
}

#result h5{
    color: #0005;
}